In [5]:
a = [['ani',2],['bhp',3],['cni',4]]
print(a[1][0])

bhp

# Dictionaries

In [22]:
# type and len of dictionaries

dict1 = {
    'ani':78,
    'chi':65,
    'bhoo':87
}
dict1['ani']
type(dict1)
len(dict1)

3

In [23]:
#access

b = dict1['ani']

In [24]:
print(b)

78

In [26]:
#access 2

b = dict1.get('bhoo') 
b

87

In [27]:
#change value

dict1['bhoo']=90

In [28]:
print(dict1)

{'ani': 78, 'chi': 65, 'bhoo': 90}

In [32]:
#print all values

val = list(dict1.values())

In [33]:
val

[78, 65, 90]

In [37]:
#print all items

z = dict1.items()
z

dict_items([('ani', 78), ('chi', 65), ('bhoo', 90)])

In [38]:
#add elements

dict1['Ram'] = 35

In [39]:
print(dict1)

{'ani': 78, 'chi': 65, 'bhoo': 90, 'Ram': 35}

In [40]:
#remove elements

rem = dict1.pop('Ram')

In [41]:
print(dict1)

{'ani': 78, 'chi': 65, 'bhoo': 90}

In [42]:
#remove last inserted item

q = dict1.popitem()
q

('bhoo', 90)

In [45]:
#del element

del dict1['ani']
dict1

{}

# Task 5

In [56]:
dict1 = { 
   "april_batch":
    { 
      "student":
        { 
         "name":"Mike",
         "marks":
            { 
            "python":80,
            "maths":70
         }
      }
   }
}

In [58]:
#access mike

a1 = dict1["april_batch"]["student"]['name']
a1

'Mike'

In [61]:
#access 80

a2 = dict1["april_batch"]["student"]['marks']['python']
a2

80

In [62]:
#change mike to your name
dict1["april_batch"]["student"]["name"]='Anirudh'

In [63]:
dict1

{'april_batch': {'student': {'name': 'Anirudh',
   'marks': {'python': 80, 'maths': 70}}}}

In [65]:
#add ml and dl as 80 marks

dict1["april_batch"]["student"]['marks']['ML']=80

In [66]:
dict1

{'april_batch': {'student': {'name': 'Anirudh',
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [67]:
dict1["april_batch"]["student"]['marks']['DL']=80
dict1

{'april_batch': {'student': {'name': 'Anirudh',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}