<a href="https://colab.research.google.com/github/anirudhnayak1308/Netzwerk/blob/main/50_startup_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/50_startups_data.csv')
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [3]:
#checking for null values
df.isnull().sum(0)

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [4]:
#checking duplicate
df.duplicated().sum()

0

initializing variables

In [7]:
X = df[['R&D Spend','Administration','Marketing Spend']]
y = df['Profit']
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

Split the dataset

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 2)
print('Split got completed!!!!')

Split got completed!!!!

Train model

In [12]:
from sklearn.linear_model import LinearRegression
m_linear_reg = LinearRegression()
m_linear_reg.fit(X_train,y_train)
print('Model got fitted with algorithm :)')

Model got fitted with algorithm :)

Testing

In [13]:
y_pred = m_linear_reg.predict(X_test)

Calculating coefficient

In [15]:
m_linear_reg.coef_

array([ 0.81060992, -0.04478895,  0.02690299])

In [16]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9794909902425316

Predicting for new values

In [18]:
op = m_linear_reg.predict([[165349.20,136897.80,471784.10]])
op

array([192444.60888027])

Asking user input

In [26]:
RnD = float(input('R and D Spent :'))
admin = float(input('Spent on administration :'))
market = float(input('Spent on marketing :'))

output = m_linear_reg.predict([[RnD,admin,market]])

print('Total profit is {}, if money spent by RandD is {}, and administation spent is{} is and marketing spent is {}'.format(output[0] if output else 'not',RnD,admin,market))

R and D Spent :52000
Spent on administration :62000
Spent on marketing :198000
Total profit is 96551.60496160889, if money spent by RandD is 52000.0, and administation spent is62000.0 is and marketing spent is 198000.0